@use './colors' as *;

#sidebar {
	margin-top: 10em;
	z-index: 3;
	@media screen and (max-width: 991px) {
		padding-top: 2em;
	}

	&.sidebar-home {
		position: absolute;
		top: 1rem;
		right: 1rem;
		width: auto;
		min-width: 220px;
		max-width: 300px;
		z-index: 10;
		padding: 0;

		@media (min-width: 1200px) {
			min-width: 260px;
		}
	}

	.list-group {
		font-family: 'Fira Sans Condensed', 'Fira Sans Condensed Fallback', Arial, sans-serif;
		background: $light;
		border-radius: 0.375rem;
		overflow: hidden;
		box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.08), 0 1px 10px 0 rgba(0, 0, 0, 0.06),
			0 2px 4px -1px rgba(0, 0, 0, 0.1);
		.list-group-item.active {
			background-color: rgba($green, 0.15);
			border-color: rgba($green, 0.2);
			color: $green;
		}
		.list-group-item {
			background-color: transparent !important;
			border-color: rgba($green, 0.2);
			color: $green;
			padding-top: 0.75em;
			padding-bottom: 0.75em;
			font-size: 1.35rem;
		}
		.list-group-item[aria-expanded='false']::after {
			display: inline;
			text-align: right;
			padding-left: 5px;
		}
		/* open state */
		.list-group-item[aria-expanded='true'] {
			background-color: rgba($green, 0.15);
		}

		.list-group-item[aria-expanded='true']::after {
			display: inline;
			text-align: right;
			padding-left: 5px;
		}
	}
}

.row-offcanvas {
	position: relative;
}

@media screen and (max-width: 991px) {
	.row-offcanvas {
		transition: transform 0.25s ease-out;
	}

	.row-offcanvas-right {
		right: 0;
		min-height: 54vh;
	}

	.row-offcanvas-left {
		left: 0;
	}

	.row-offcanvas-right .sidebar-offcanvas {
		right: -100%; /* 12 columns */
	}

	.row-offcanvas-right.active .sidebar-offcanvas {
		right: -82.5%; /* 6 columns */
	}

	.row-offcanvas-left .sidebar-offcanvas {
		left: -100%; /* 12 columns */
	}

	.row-offcanvas-left.active .sidebar-offcanvas {
		left: -82.5%; /* 6 columns */
	}

	.row-offcanvas-right.active {
		transform: translateX(-100%);
	}

	.row-offcanvas-left.active {
		transform: translateX(100%);
	}

	.sidebar-offcanvas {
		position: absolute;
		top: 0;
		width: 68%; /* 6 columns */
	}
}
